/*Universal Css Starts*/


* {
	margin: 0;
	padding: 0;
}

body {
	background: #fafafa;
}

.navbar {
	background-color: #979A9A !important;
}

#notification {
	margin-right: 16vw;
	display: none;
}

#notification:hover {
	-webkit-text-stroke-width: 2px;
	color: #F4D03F;
	-webkit-text-stroke-color: black;
}

#people {
	margin-right: 5vw;
}

.nav-item i {
	margin-top: 0.5vw;
	font-size: 25px;
	-webkit-text-stroke-width: 2px;
	color: white;
	-webkit-text-stroke-color: black;
}

.navbar-brand {
	font-family: 'Arizonia', cursive;
	-webkit-text-stroke-width: 1px;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-color: black;
	font-size: 23px;
}

#welcome {
	font-family: 'Amarante', cursive;
}

#left,
#center {
	min-height: 100%;
	border: none;
	font-size: 20px;
	font-weight: bold;
}

#left {
	position: fixed;
	float: left;
	z-index: 1;
	left: 2vw;
}

#center {
	margin-left: 25%;
	margin-right: 25%;
}

#right {
	min-height: 100%;
	border: none;
	position: fixed;
	float: right;
	right: 2vw;
}

.card-head img {
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	margin-bottom: 1vw;
	margin-left: -1.5vw;
}

#username {
	font-family: 'Amarante', cursive;
	font-size: 2vw;
	margin-left: -2.5vw;
	cursor: pointer;
}

.card {
	background: #fff;
	box-shadow: 0.8vw 0.3vw 0.8vw #888888;
	padding: 2vw;
	box-sizing: border-box;
	border-radius: 1vw;
	margin-top: 7%;
}

.up-section {
	margin-left: -2.5vw;
}

.up-section i {
	font-size: 2vw;
	color: black;
	cursor: pointer;
}

.liked {
	-webkit-text-fill-color: red;
	-webkit-text-stroke-color: red;
}

.disliked {
	-webkit-text-stroke-width: 2px;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-color: black;
}

#likes a {
	text-decoration: none;
	color: black;
}

.bottom-section {
	margin-left: -1vw;
	font-size: 1.5vw;
}

.usercoment a {
	font-family: 'Amarante', cursive;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.usercoment {
	font-weight: normal;
}

.usercoment .fas {
	margin-left: 4vw;

}

.morecoment a {
	text-decoration: none;
	color: #777;
}

.timeadd {
	font-size: 1vw;
	font-weight: lighter;
	color: #777;
}

.addcoment textarea {
	width: 100%;
	border: none;
	border-bottom: 2px solid #777;
	outline: none;
	box-sizing: border-box;
	color: #777;
}

.addcoment textarea :focus {
	color: black;
}

.md-form textarea:focus {
	border-bottom: 2px solid black;
	color: black;
}

#logo {
	width: 20vw;
	height: 20vw;
}

.quotes {
	font-family: 'Amarante', cursive;
	font-size: 1.5vw;
}

#show-suggestions #cards {
	display: flex;
	min-height: 15vw;
	overflow-x: auto;
}

#cards::-webkit-scrollbar {
	display: none;
}

#card--content {
	background-color: #D0D3D4;
	min-width: 10vw;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 2vw;
}

#show-suggestions {
	padding-top: 1vw;
	padding-bottom: 1vw;
	background: #ECF0F1;
}

#show-suggestions img {
	cursor: pointer;
	padding: 1vw;
	height: 8vw;
}

#show-suggestions .card-title {
	font-size: 1.5vw;
	margin-top: -25px;
	margin-left: -10px;
}

#show-suggestions .btn {
	color: white;
	margin-left: 25%;
	width: 4vw;
	height: 4vw;
	background-color: #31B0D5;
	outline: none;
	font-size: 1.5vw;
	border-radius: 25px;
	padding: 1vw;
	margin-top: -10px;
	transition: 0.5s;
}

#show-suggestions .btn:hover {
	background-color: #2874A6;
}

#show-suggestions .card-body p {
	margin-top: -10px;
	font-size: 0.8vw;
	margin-left: -8px;
	font-weight: lighter;
}


.notification-body-top {
	padding: 0.8vw;
	font-size: 1.2vw;
}

#notif-top{
	display: none;
}


/*Universal Css Ends*/


/*Desktop View Starts*/

@media only screen and (min-width: 992px) 
{
	
}


/*-----NOTIFICATION CSS-----*/

.notification-body {
	padding: 0.8vw;
	font-size: 1.2vw;
}

.notification-title {
	font-size: 1.8vw;
}

.notification-list,
.n-user-list {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.notification-list>li {
	border-bottom: 1px solid rgb(175, 164, 164);
	margin-bottom: 0.5vw;
	padding: 0.5vw 0;
}

.notification-list .cat-icon {
	width: 1.5vw;
	margin: 0.5vw;
	margin-right: 0.8vw;
}

.notification-list .avatar {
	width: 2vw;
}

.rounded {
	border-radius: 0.25rem;
}

.n-user-list {
	margin-bottom: 0.5vw;
}

.n-user-list:after {
	clear: both;
	content: '';
	display: table;
}

.n-user-list li {
	float: left;
}

.n-user-list li+li {
	margin-left: 0.3vw;
}

.n-user-list li a,
.n-user-list li a:hover {
	text-decoration: none;
}

/*-----NOTIFICATION CSS ENDS-----*/








/*Desktop View Ends*/







/*Mobile View Starts*/

@media only screen and (max-width: 992px) {
	#show-suggestions #cards {
		display: flex;
		min-height: 130px;
		min-width: 71vw;
		overflow-x: auto;
		padding-bottom: 1vw;
	}

	#show-suggestions {
		padding-top: 1vw;
		padding-bottom: 1vw;
		min-width: 80vw;
	}

	#card--content {
		background-color: #D0D3D4;
		min-width: 100px;
		margin-right: 5px;
		margin-left: 5px;
		border-radius: 2vw;
	}

	#show-suggestions img {
		padding: 10px;
		height: 70px;
	}

	#show-suggestions .card-title {
		font-size: 15px;
		margin-top: -25px;
		margin-left: -10px;
	}

	#show-suggestions .btn {
		margin-left: 10px;
		width: 40px;
		height: 40px;
		font-size: 15px;
		border-radius: 25px;
		margin-top: -10px;
	}

	#show-suggestions .card-body p {
		margin-top: -10px;
		font-size: 8px;
	}

	#left {
		display: none;
	}

	#center {
		left: -20vw;
	}

	#right {
		display: none;
	}

	.navbar-brand {
		top: 1vw;
		font-size: 23px;
	}

	.card {
		background: #fff;
		box-shadow: 0.8vw 0.3vw 0.8vw #888888;
		padding: 20px;
		padding-top: 10px;
		box-sizing: border-box;
		border-radius: 10px;
		margin-top: 7%;
		width: 80vw;
		padding-bottom: 2px;
	}

	.card-head img {
		height: 20px;
		width: 20px;
		margin-bottom: 5px;
		margin-left: -15px;
	}

	#username {
		font-size: 15px;
		margin-left: -25px;
	}

	.up-section {
		margin-left: -30px;
		margin-top: -15px;
	}

	.up-section i {
		font-size: 3vw;
		margin-right: -10px;
	}

	.bottom-section {
		margin-left: -15px;
		font-size: 2.5vw;
	}

	.timeadd {
		font-size: 2vw;
	}

	.addcoment textarea {
		padding-bottom: ;
	}

	.notification-list>li {
		border-bottom: 1px solid rgb(175, 164, 164);
		margin-bottom: 0.5vw;
		padding: 0.3vw 0;
	}

	.notification-body {
		padding: 0.5vw;
		font-size: 1.5vw;
	}
}

/*Mobile View Ends*/